<table class="table" border="2" style= "width: 900px;margin: 0 auto;">
  <thead style="background: lightgray;">
    <tr>
      <th>名前</th>
      <th>昨日の学習時間</th>
      <th>昨日の勝敗</th>
      <th>フォロー</th>
    </tr>
  </thead>
  <tbody style= "background-color: rgb(255, 255, 255);">
  <% users.each do |user| %>
    <tr>
      <td><%= attachment_image_tag user, :image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg" %><%= user.name %></td>
      <td><%= yesterdayHours(user)%></td>
      <td>
        <%if yesterdayHours(user) > yesterdayHours(current_user) %>
          <strong>you lose</strong>
        <% elsif yesterdayHours(user) == yesterdayHours(current_user) %>
          even
        <% else %>
          <strong>you win</strong>
        <% end %>
      </td>
      <td>
        <% if current_user != user %>
          <% if current_user.following?(user) %>
            <%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-success" %>
          <% end %>
        <% else %>
          自分
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
