<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>学習記録の変更</h2>
      <%= form_with model: @record, local: true do |record| %>
      <div>
        <%= record.label:"カテゴリー" %>
        <%= record.select:name, @category_names, class: "form-control name"%>
        <%= record.label:"カテゴリーの色" %>
        <%= record.select:color, [ ['赤',1], ['青',2],['黄緑',3], ['緑',4],['紫',5], ['黄',6],['橙',7], ['灰',8]]%>
      </div>
      <div>
        <%= record.label:"開始時刻" %>
        <%= record.datetime_select:start%>
        <%= record.label:"終了時刻" %>
        <% if !@record.end.nil? %>
          <%= record.datetime_select:end%>
        <% end %>
      </div>
      <div>
        <% if !(@record.end.nil?)%>
          <%= record.submit "変更を確定", class: "btn btn-success" %>
        <% else %>
          <%= link_to "学習終了", finish_record_path(@record), method: :patch, "data-confirm" => "学習を終了しますか？", class: "btn btn-info"%>
        <% end %>
        <%= link_to "削除", record_path(@record), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger"%>
      </div>
      <% end %>
    </div>
  </div>
</div>