<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>学習記録一覧</h2>
      <%= link_to "記録の追加", new_user_record_path(current_user), class:"btn btn-success" %>
      <h4 class= "text-right">昨日の学習時間　<strong><%= yesterdayHours(current_user)%></strong></h4>
      <table class="table" border="2" style= "width: 900px;margin: 0 auto;">
        <thead style= "background: lightgray;">
          <tr>
            <th><%= sort_order "name", "カテゴリー名" %></th>
            <th><%= sort_order "hour", "学習時間" %></th>
            <th><%= sort_order "start", "学習開始時間" %></th>
            <th>学習終了時間</th>
            <th>コメント数</th>
            <th></th>
          </tr>
        </thead>
        <tbody style= "background-color: rgb(255, 255, 255);">
          <% @records.each do |record| %>
          <tr>
            <td class="color_<%= record.color %>"><%= record.name %></td>
            <td>
              <% if !(record.end.nil?) %>
                <%= minute(record.hour) %>
              <% end %>
            </td>
            <td><%=l record.start %></td>
            <td>
              <% if !(record.end.nil?) %>
                <%=l record.end %>
              <% end %>
            </td>
            <td><p><%= "#{record.post_comments.count} コメント" %></p></td>
            <td><%= link_to "詳細",user_record_path(record.user.id, record), class:"btn btn-success" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @records %>
    </div>
  </div>
</div>