<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="marker">詳細</h2>
      <table class='table' border="2" style="width: 400px;">
        <tr>
          <td style="background-color: rgb(255, 255, 255);">カテゴリー</td>
          <td class="color_<%= @record.color %>"><%= @record.name%></td>
        </tr>
        <tr>
          <td style="background-color: rgb(255, 255, 255);">開始時刻</td>
          <td style="background-color: rgb(255, 255, 255);"><%=l @record.start%></td>
        </tr>
        <tr>
          <td style="background-color: rgb(255, 255, 255);">終了時刻</td>
          <td style="background-color: rgb(255, 255, 255);">
            <% if !(@record.end.nil?) %>
              <%=l @record.end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td style="background-color: rgb(255, 255, 255);">学習時間</td>
          <td style="background-color: rgb(255, 255, 255);">
            <% if @record.end.nil? %>
              計測中です
            <% else %>
              <%= minute(@record.hour) %>
            <% end %>
          </td>
        </tr>
      </table>
      <% if @record.user == current_user %>
      <% if !(@record.end.nil?) %>
          <%= link_to "変更",edit_user_record_path(user_id: current_user, id: @record), class:"btn btn-success" %>
        <% else %>
          <%= link_to "学習終了", finish_user_record_path(user_id: current_user, id: @record), method: :patch, "data-confirm" => "学習を終了しますか？", class:"btn btn-info" %>
        <% end %>
        <%= link_to "削除",user_record_path(user_id: current_user, id: @record), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %>
        <%= link_to "戻る", :back, class: "btn btn-info" %>
      <% end %>

      <div class="comments">
        <%= render 'public/records/comments-index', record: @record %>
      </div>

      <div class="new-comment">
        <%= form_with model:[current_user, @record, @post_comment] do |f| %>
          <%= f.text_area :comment, placeholder: "コメントをここに", size: "60x4"%>
          <%= f.submit "送信する"%>
        <% end %>
      </div>

    </div>
  </div>
</div>