<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="category-index">
        <h2>カテゴリー選択</h2>
        <div class="public-products">
          <table class="table" border="2" style= "width: 600px; margin: 0 auto;">
            <% @categories.each do |category| %>
            <tr>
              <td class="color_<%= category.color %> text-center" >
                <%= link_to "#{category.name}", time_category_path(category), class: "text-dark"%>
              </td>
              <td class="text-center" style="background-color: rgb(255, 255, 255);">
                <%= link_to "編集", edit_category_path(category) %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
      
      <div class="category-create">
      <h2>カテゴリー追加</h2>
        <%= form_with model: @category, url: categories_path, method: :post, local: true do |category| %>
        <%= category.label :"カテゴリー名" %>
        <%= category.text_field :name ,placeholder:"カテゴリー名" %>
        <%= category.label :"カテゴリーの色" %>
        <%= category.select :color, [ ['赤',1], ['青',2],['黄緑',3], ['緑',4],['紫',5], ['黄',6],['橙',7], ['灰',8]], class: 'color' %>
        <%= category.submit "カテゴリー追加",class: "btn btn-success" %>
        <% end %>
    </div>
    </div>
  </div>
</div>
