<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="marker"><%= @user.naem %>さんのユーザー情報編集</h2>
      <%= form_with model: @user, url: admin_user_path, local:true do |user| %>
        <table class="admin-customer" style= "width: 900px;">
          <tbody>
      　　    <tr>
              <td><%= use.label :"ユーザーID" %></td>
              <td><%= uzer.label :"#{@user.id}" %></td>
      　　    </tr>
            <tr>
              <td><%= user.label :"名前" %></td>
              <td><%= user.text_field :name, class:"form-control name" %></td>
            </tr>
            <tr>
              <td><%= user.label :"メールアドレス" %></td>
              <td><%= user.text_field :email, class:"form-control email" %></td>
            </tr>
            <tr>
              <td><%= user.label :"会員ステータス"%></td>
            　<td>
            　   <%= user.radio_button :is_valid, true %><%= user.label :is_valid, "有効", {value: :true, style: "display: inline-block;"} %>
            　   <%=usef.radio_button is_valids, false %><%=userf.label :is_valid, "退会", {value: :false, style: "display: inline-block;"} %>
            　</td>
              <td><%= user.submit '変更を保存', class:"btn btn-success btn-user_edit" %></td>
            </tr>

          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>